/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button,
a {
  outline: none;
}
button {
  cursor: pointer;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
:root {
  --head-font: "Montserrat", sans-serif;
  --description-font: "Roboto", sans-serif;
  --accent-color: #ff4e50;
  --head-color: #333333;
  --description-color: #666666;
}

.header {
  min-height: 540px;
  padding-top: 20px;
  background-color: var(--head-color);
  background-image: url(../img/bg-s.png);
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
.navigation-wraper {
  margin-bottom: 24px;
}
.header-navigation-list {
  display: flex;
  align-items: baseline;
}
.header-navigation-list-item:first-child {
  margin-right: 16px;
}
.header-navigation-list-item button {
  background: none;
  font-family: var(--head-font);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
.button-log-in {
  border: none;
}
.button-sign-up {
  width: 90px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 18px;
}
.header-navigation-logo {
  text-align: center;
  font-family: var(--head-font);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.header-head {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
  font-family: var(--head-font);
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.75px;
  text-transform: uppercase;
}
.header-description {
  margin: 0 auto;
  margin-bottom: 14px;
  font-family: var(--description-font);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
.header-button-find {
  margin: 0 auto;
  width: 280px;
  height: 40px;
  font-family: var(--head-font);
  font-size: 0.875rem;
  line-height: 1.2;
  background: var(--accent-color);
  border: 2px solid transparent;
  border-radius: 20px;
  color: #ffffff;
  transition: all 200ms linear;
}
.header-button-find:hover,
.header-button-find:active {
  border: 2px solid #ffffff;
  background: none;
}
.partners {
  padding-top: 66px;
}
.head-partners-wraper {
  margin-bottom: 10px;
}
.head-partners {
  margin: 0 auto;
  text-align: center;
  font-family: var(--head-font);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: var(--head-color);
}
.partners-list {
  margin-bottom: 26px;
}
.partners-list-item-wrapper {
  width: 128px;
  margin: 0 auto;
  margin-bottom: 13px;
  position: relative;
}
.partners-list-item-wrapper img {
  box-sizing: content-box;
  border: 4px solid #ffffff;
  border-radius: 50%;
}
.partners-list-item-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: content-box;
  border: 4px solid #ffffff;
  border-radius: 50%;
}
.bradley-hunter::after {
  background-color: #ff4e50;
  background-image: url(../icon/tv-icon.png);
}
.lucas-marsha::after {
  background-color: #ffa507;
  background-image: url(../icon/experiment-icon.png);
}
.heather-walker::after {
  background-color: #1cd7ad;
  background-image: url(../icon/cofee-icon.png);
}
.bradley-hunter-f::after {
  background-color: #4e73db;
  background-image: url(../icon/chat-icon.png);
}
.partners-list-item-head {
  text-align: center;
  margin-bottom: 16px;
  font-family: var(--head-font);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
  color: var(--head-color);
}
.partners-list-item-description {
  text-align: center;
  font-family: var(--description-font);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.2;
  color: var(--description-color);
}
.see-other-partners {
  margin: 0 auto;
  width: 280px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  font-family: var(--head-font);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--accent-color);
  transition: all 200ms linear;
}
.see-other-partners:hover,
.see-other-partners:active {
  background: var(--accent-color);
  color: #ffffff;
}
@media (max-width: 767px) {
  .header-navigation-list {
    width: 280px;
    margin-bottom: 118px;
    justify-content: center;
  }
  .header-head {
    width: 300px;
  }
  .header-description {
    width: 218px;
  }
  .partners {
    padding-bottom: 57px;
  }
  .partners-list-item-description {
    width: 218px;
    margin: 0 auto;
  }
  .partners-list-item:not(:last-child) {
    margin-bottom: 21px;
  }
}
@media (min-width: 768px) {
  .header {
    min-height: 700px;
    padding-top: 38px;
    background-image: url(../img/bg-m.png);
  }
  .navigation-wraper {
    margin-bottom: 140px;
  }
  .header-navigation-list {
    width: 100%;
    padding-right: 26px;
    margin-bottom: 0;
  }
  .header-navigation-logo {
    letter-spacing: 0.3px;
  }
  .header-head {
    width: 482px;
    margin: 0 auto 22px;
    font-size: 3.25rem;
    line-height: 1.24;
    letter-spacing: -1.55px;
  }
  .header-description {
    font-size: 1.5rem;
    margin-bottom: 32px;
  }
  .header-button-find {
    width: 226px;
  }
  .head-partners-wraper {
    margin-bottom: 28px;
  }
  .partners-list {
    justify-content: space-between;
    margin-bottom: 34px;
  }

  .see-other-partners {
    width: 192px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .partners {
    padding-bottom: 40px;
  }
  .partners-list-item:not(:nth-child(even)) {
    margin-bottom: 52px;
  }
  .partners-list-item:nth-child(-n + 2) {
    padding-left: 58px;
  }
  .partners-list-item:nth-last-child(-n + 2) {
    padding-right: 58px;
  }
}
@media (min-width: 960px) {
  .header {
    padding-top: 38px;
    padding-bottom: 74px;
    background-image: url(../img/bg-l.png);
  }
  .header-navigation-list {
    padding-right: 10px;
  }
  .header-navigation-logo-wraper {
    display: flex;
  }
  .partners {
    margin-bottom: 74px;
  }
}
